[Unit]
Description=calibre content server
After=network.target

[Service]
Type=simple
User=calibre
Group=calibre
ExecStart=/opt/calibre/calibre-server "/path/to/calibre library directory"

[Install]
WantedBy=multi-user.target
